{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
<div class="offset-3 col-md-6">
    <div class="card">
        <div class="card-header">
            <h1>Produit index</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Libelle</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for produit in produits %}
                    <tr>
                        <th scope="row">{{ produit.id }}</th>
                        <td>{{ produit.libelle }}</td>
                        <td>{{ produit.prix }}</td>
                        <td>{{ produit.categorie.nom }}</td>
                        <td>
                            <a class="btn btn-outline-primary" href="{{ path('produit_show', {'id': produit.id}) }}">Voir</a>
                            <a class="btn btn-outline-primary" href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Pas d'entrée en base de données</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-primary" href="{{ path('produit_new') }}">Ajouter</a>
        </div>
    </div>



</div>
{% endblock %}
