{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
<div class="offset-3 col-md-6">
    <h1>Produit index</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Libelle</th>
                <th scope="col">Prix</th>
                <th scope="col">Catégorie</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <th scope="row">{{ produit.id }}</th>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.categorie.nom }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                    <a class="btn btn-outline-primary" href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('produit_new') }}">Create new</a>
</div>
{% endblock %}
